<h1>Создать вопрос</h1>

<form action="<%= test_questions_path %>" method="post">
  <%= token_tag %>
  <input type="hidden" name="question[test_id]" value="<%= params[:test_id] %>">

  <p>
    <label for="question-text">Текст</label>
    <input type="text" id="question-text" name="question[text]">
  </p>

  <input type="submit" value="Создать">
</form>
