<% if resource.errors.any? %>
  <div>
    <strong><%= t(".message", count: resource.errors.count) %></strong>

    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
