<footer class="mt-4">
  <p>
    <%= github_url.html_safe %> | <%= current_year %>
  </p>

  <p>
    TestGuru -- приложение для прохождения тестов. <br>
    Сделано в <%= link_to "Thinknetica", "https://thinknetica.com" %>
  </p>
</footer>
