<strong>
  Вопрос: <%= @answer.question.text %>
</strong>

<p>
    Ответ: <%= @answer.text %>
</p>

<p>
  Верно: <%= @answer.correct %>
</p>

<%= link_to "Назад", admin_question_path(@answer.question) %>
