<% unless user_signed_in? %>
  <h2>Добро пожаловать в TestGuru</h2>
<% else %>
  <h1>Тесты</h1>

  <% if @tests.present? %>
    <table>
      <tr>
        <th>Название</th>
        <th>Уровень</th>
        <th>Вопросов</th>
        <th colspan="4">Действия</th>
      </tr>

      <%= render @tests %>
    </table>
  <% else %>
    <p>Тестов нет</p>
  <% end %>
<% end %>
