<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Вопросы:</strong>
</p>

<% if @test.questions.count.nonzero? %>
  <% @test.questions.each do |question| %>
    <p><%= question.text %></p>
  <% end %>
<% else %>
  <p>Вопросов нет</p>
<% end %>

<%= link_to "Назад", tests_path %>
